@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Fjalla+One&display=swap");

:root {
  --secondary: #8d99ae;
  --background: #edf2f4;
  --background-opaque: rgba(237, 242, 244, 0.8);
  --primary: #d90429;
  --white: #fff;
  --header-background-color: var(--header-background-color-light);
  --header-background-image: var(--header-background-image-light);
  --text: "Cabin", sans-serif;
}

[data-theme="dark"] {
  --background: #2b2d42;
  --background-opaque: rgba(43, 45, 66, 0.8);
  --primary: #edf2f4;
  --secondary: #ef233c;
  --white: #fff;
  --header-background-color: var(--header-background-color-dark);
  --header-background-image: var(--header-background-image-dark);
  --text: "Cabin", sans-serif;
}

body {
  background-color: var(--background);
  margin: 0;
  margin-top: 5rem;
  font-family: "Fjalla One", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Media query for large mobile devices */
@media screen and (max-width: 600px) {
  body {
    margin-top: 4rem;
  }

  #header-container {
    height: 4rem;
  }

  #header-title {
    font-size: 1.7rem;
  }

  #image-container {
    margin: 10px;
  }

  #image-options-button {
    font-size: 0.8rem;
  }

  #image-options-form {
    font-size: 0.8rem;
    top: 4rem;
  }

  #label-text {
    font-size: 0.8rem;
  }
}
